@import url("https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans:wght@400;500&display=swap");
@import "mixins";

@keyframes emerge {
  0% {
    width: 0;
    opacity: 0.5;
  }

  100% {
    width: 15vw;
    opacity: 1;
  }
}

body {
  padding: 3%;
  height: 100vh;
  width: 100%;
  color: #dcdddd;
  background-image: url("../images/global/canon.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  padding: 2%;
  height: 100%;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(1vw);
  border: 0.1vw solid #ffcbcb27;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    padding: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 4vw;
      font-family: "Caveat", cursive;
      text-align: center;
      line-height: 6vw;
      letter-spacing: 0.1vw;
      margin-bottom: 10%;
    }

    a {
      text-decoration: none;
      color: #dcdddd;
      background-color: #e24510;
      padding: 1.5% 2.5%;
      font-size: 1vw;
      border: 0.15vw solid #e24510;
      outline: none;
      border-radius: 0.3vw;
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    div {
      background-color: #dcdddd;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5% 1.5% 3.5% 1.5%;
      position: absolute;

      img {
        width: 15vw;
        animation: emerge 1s ease-in;
      }
    }

    .zero {
      img {
        width: 20vw;
      }
    }

    .one {
      transform: rotate(30deg);
      margin-right: -50%;
      margin-top: -10%;
    }

    .two {
      margin-top: 2vw;
      margin-left: 10%;
      transform: rotate(-20deg);
    }

    .three {
      margin-top: -50%;
      margin-left: -10%;
      transform: rotate(10deg);
    }

    .four {
      margin-top: 10vw;
      margin-left: -50%;
      transform: rotate(-10deg);
    }

    .five {
      margin-top: 50%;
      margin-left: 30%;
      transform: rotate(40deg);
    }
  }
}
