@import url("https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes emerge {
  0% {
    width: 0;
    opacity: 0.5;
  }
  100% {
    width: 15vw;
    opacity: 1;
  }
}

@keyframes emerge {
  0% {
    width: 0;
    opacity: 0.5;
  }
  100% {
    width: 15vw;
    opacity: 1;
  }
}

body {
  padding: 3%;
  height: 100vh;
  width: 100%;
  color: #dcdddd;
  background-image: url("../images/global/canon.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  padding: 2%;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(1.5vw);
          backdrop-filter: blur(1.5vw);
  border: 0.1vw solid #ffcbcb27;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left {
  padding: 5%;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .left h1 {
  font-size: 4vw;
  font-family: "Caveat", cursive;
  text-align: center;
  line-height: 6vw;
  letter-spacing: 0.1vw;
  margin-bottom: 10%;
}

main .left a {
  text-decoration: none;
  color: #dcdddd;
  background-color: #e24510;
  padding: 1.5% 2.5%;
  font-size: 1vw;
  border: 0.15vw solid #e24510;
  outline: none;
  border-radius: 0.3vw;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

main .left a:hover {
  background-color: transparent;
}

main .right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .right div {
  background-color: #dcdddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5% 1.5% 3.5% 1.5%;
  position: absolute;
}

main .right div img {
  width: 15vw;
  -webkit-animation: emerge 1s ease-in;
          animation: emerge 1s ease-in;
}

main .right .zero img {
  width: 20vw;
}

main .right .one {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-right: -50%;
  margin-top: -10%;
}

main .right .two {
  margin-top: 2vw;
  margin-left: 10%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

main .right .three {
  margin-top: -50%;
  margin-left: -10%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

main .right .four {
  margin-top: 10vw;
  margin-left: -50%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

main .right .five {
  margin-top: 50%;
  margin-left: 30%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
/*# sourceMappingURL=index.css.map */