[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
psycopg2-binary = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
