{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'album/css/album.css'%}" />
    <link
      rel="shortcut icon"
      href="{% static 'album/images/global/camera.png'%}"
      type="image/x-icon"
    />
    <title>album</title>
  </head>
  <body>
    <main>
      <div class="menu">
        <a href="{% url 'album_home' %}">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="m24 13l-4 4v-3h-9v-2h9V9l4 4M4 20v-8H1l10-9l7 6.3v.7h-2.21L11 5.69l-5 4.5V18h10v-2h2v4H4Z"
            />
          </svg>
          &nbsp;&nbsp;Home
        </a>
        <form action="">
          <select name="category" id="category">
            <option value="category" selected>By Category</option>
            <option value="random1">random1</option>
            <option value="random2">random2</option>
            <option value="random3">random3</option>
            <option value="random4">random4</option>
          </select>
          <button type="submit">
            <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426ZM10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12Z"
              />
            </svg>
          </button>
        </form>
        <p class="all-photos">View All</p>
        <p class="location">Locations :</p>
        <ul>
          <li class="nav">location1</li>
          <li class="nav">location2</li>
          <li class="nav">location3</li>
          <li class="nav">location4</li>
        </ul>
      </div>

      <!-- all photos section -->
      <div id="all-photos" class="photos active-section">
        <div class="image">
          {% if all_images %} {% for image in all_images %}
          <img class="display-image" src="{{image.image.url}}" alt="" />
          {% endfor %} {% endif %}
          <img
            class="display-image"
            src="{% static 'album/images/landing/crazy.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/crazy.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
        <div class="image">
          <img
            class="display-image"
            src="{% static 'album/images/landing/green.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/green.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
        <div class="image">
          <img
            class="display-image"
            src="{% static 'album/images/landing/charity.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/charity.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
      </div>

      <!-- location one test section -->
      <div id="location1" class="photos">
        <div class="image">
          <img
            class="display-image"
            src="{% static 'album/images/landing/crazy.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/crazy.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
        <div class="image">
          <img
            class="display-image"
            src="{% static 'album/images/landing/green.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/green.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
        <div class="image">
          <img
            class="display-image"
            src="{% static 'album/images/landing/charity.jpg'%}"
            alt=""
          />
          <div class="modal">
            <div class="closer-div">
              <p class="close">Close</p>
            </div>
            <div class="full-image">
              <img
                src="{% static 'album/images/landing/charity.jpg'%}"
                alt=""
                class="modal-image-full"
              />
            </div>
            <div class="image-details">
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p>
                lores: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto, rerum.
              </p>
              <p class="copy-url">Share Image</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'album/js/album.js'%}"></script>
  </body>
</html>
