{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'album/css/index.css'%}" />
    <link
      rel="shortcut icon"
      href="{% static 'album/images/global/camera.png'%}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <div class="left">
        <h1>When code gets too overwhelming, I escape through the lens!</h1>
        <a href="">View More</a>
      </div>
      <div class="right">
        <div class="zero">
          <img
            src="{% static 'album/images/landing/maldives.jpg'%}"
            alt="maldives"
          />
        </div>
        <div class="one">
          <img src="{% static 'album/images/landing/crazy.jpg'%}" alt="crazy" />
        </div>
        <div class="two">
          <img
            src="{% static 'album/images/landing/beach_swing.jpg'%}"
            alt="beach"
          />
        </div>
        <div class="three">
          <img
            src="{% static 'album/images/landing/charity.jpg'%}"
            alt="charity"
          />
        </div>
        <div class="four">
          <img src="{% static 'album/images/landing/green.jpg'%}" alt="green" />
        </div>
        <div class="five">
          <img
            src="{% static 'album/images/landing/family_v.jpg'%}"
            alt="family"
          />
        </div>
      </div>
    </main>
  </body>
</html>
